{% extends "task/common/content_analysis_summary_refine.jinja2" %}
{# OpenAI: schema description 블록을 override하여 응답 스키마 가이드 추가 #}

{% block schema_description %}
{{ schema_description }}
{% endblock %}
