{% extends "task/common/content_analysis_summary_refine.jinja2" %}
{#
    OpenAI:
    - schema_description: 응답 스키마 가이드 추가
    - writing_style: 빈 블록 (톤/문체는 system prompt CUSTOMER_FACING_ANALYST에서 관리)
#}

{% block writing_style %}
{# 톤/문체 관련 지시는 system prompt (CUSTOMER_FACING_ANALYST)에서 관리 #}
{% endblock %}

{% block schema_description %}
{{ schema_description }}
{% endblock %}
